:root {
  --bgcolor: #7090b1;
  --bgcolor2: #99bbe0;
  --square0: rgb(123, 72, 201);
  --square1: rgb(14, 156, 44);
  --square2: rgb(250, 129, 22);
  --square3: rgb(13, 13, 223);
  --square4: rgb(255, 246, 1);
  --square5: rgb(254, 0, 0);
  --funbgcolor: #102e4d;
  --funbgcolor2: #0f2c4b;
  --funsquare0: rgb(52, 38, 75);
  --funsquare1: rgb(32, 83, 45);
  --funsquare2: rgb(109, 74, 44);
  --funsquare3: rgb(32, 32, 92);
  --funsquare4: rgb(90, 88, 26);
  --funsquare5: rgb(100, 27, 27);
}

@media only screen and (max-width: 400px) {
  body {
    width: 75%;
  }
}

@media only screen and (max-height: 800px) {
  body {
    height: 75%;
  }
}

body {
  background-color: var(--bgcolor);
  text-align: center;
  justify-content: center;
  font-family: 'Chelsea Market';
  color: black;
  max-height: 872px;
}

#welcomeText {
  color: white;
  font-size: 40px;
}

b {
  color: #28837b;
  text-shadow: 1px 1px black;
}
.darkMode {
  background-color: #102e4d;
}

#banner {
  max-width: 98%;
}

.container {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  max-height: 95vh;
  max-width: 475px;
  display: inline-block;
}

.mainLayout {
  text-align: center;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.change {
  max-height: 80px;
}

u {
  text-decoration: none;
  color: var(--funbgcolor);
}
.changeBtns,
.diffBtns {
  background-color: var(--bgcolor2);
  border: none;
  color: white;
  width: 110px;
  height: 30px;
  font-size: 12pt;
  max-height: 80px;
  font-family: 'Chelsea Market';
  border-radius: 150px 70px;
  display: inline;
  box-shadow: 2px 2px white;
  transition-property: all;
  transition-duration: 0.5s;
}

#nextNumberIndexBtn {
  width: 150px;
}
#userInputForm {
  width: 200px;
  padding-left: 10px;
}

#userInputForm:hover {
  background-color: lightgray;
}

.changeBtns:hover {
  background-color: #27847c;
  color: black;
  box-shadow: 2px 2px black;
}

#lettersBtn:hover {
  background-color: #c5a0e5;
  color: black;
  box-shadow: 2px 2px black;
}

#numbersBtn:hover {
  background-color: #7f43b5;
  color: black;
  box-shadow: 2px 2px black;
}

#wordsBtn:hover {
  background-color: #49159a;
  color: black;
  box-shadow: 2px 2px black;
}

#colorText {
  font-size: 30px;
  text-shadow: 2px 2px white;
}

nav {
  color: white;
  padding: 20px;
  background-color: #7090b1;
  max-width: 350px;
}

ul {
  list-style: none;
}

header {
  margin: 0;
}

h1 {
  font-size: 170pt;
  margin-top: 0;
  /* padding-bottom: 40px; */
  text-shadow: 2px 2px white;
  height: 100px;
  max-height: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}

h2 {
  margin: 0;
  font-size: 25px;
  display: inline;
  color: black;
}

.gamePage {
  width: 475px;
  max-width: 475px;
  font-size: 20px;
}

.colorSquare {
  grid: repeat(2, 3);
  width: 230px;
  height: 120px;
  max-width: 460px;
  background-color: black;
  display: inline-block;
  box-shadow: 2px 2px white;
  margin: 0;
  padding: 0;
  border-radius: 150px 70px;
}

#instructions {
  text-align: left;
}

#instructionsList {
  text-align: left;
}

#referencesList {
  text-align: left;
}

b {
  font-size: 28px;
  text-shadow: 1px 1px white;
}

#instructionsTitle {
  font-size: 36px;
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 1px 1px black;
}

a:hover {
  color: var(--funbgcolor);
}

.navMenu {
  background-color: #9bc4c0;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  font-family: 'Chelsea Market', cursive;
}

.navMenu:hover {
  background-color: #c0dad7;
  color: black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.5s;
}

.colorSquare:hover {
  opacity: 50%;
  border-radius: 150px 70px;
  cursor: pointer;
}

.colorSquare:active {
  opacity: 50%;
  border-radius: 150px 70px;
  cursor: pointer;
}

#userInput {
  width: 220px;
  padding-left: 20px;
}

#userInput:hover {
  background-color: lightgray;
}

.colorSquare:active {
  opacity: 90%;
}
