@media (max-width: 375px) {
}

body {
  background-color: #7090b1;
  text-align: center;
  justify-content: center;
}

.container {
  background-color: #7090b1;
  grid-template-columns: (1, auto);
  grid-template-rows: 2;
  border: solid 5px black;
  margin: 0 auto;
  height: 600px;
  width: 90vw;
  max-height: 95vh;
  max-width: 95vw;
}

.mainLayout {
  display: inline-block;
  color: white;
  border: solid 5px black;
}

nav {
  list-style: none;
  color: white;
  padding: 20px;
  background-color: #99bbe0;
  height: 50em;
  width: 25em;
}

header {
}

h1 {
}

p {
}

b {
}

a {
}

a:hover {
}

button {
}
